<style>
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap')
</style>
:root{
    --cor-de-fundo: #0F5835;
    --cor-de-texto:#6FFF57;
    --cor-botao:#1C764B;
    --cor-botao:#29895B;
    --cor-botao:#399E6E;
    --cor-botao:#4DB081;
    --cor-principal:#0F5835;
    --cor-borda:#02010E;
    --cor-

}
