<style>
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap')
</style>
:root{
    --cor-de-fundo: #0F5835;
    --cor-de-texto:#6FFF57;
    --cor-botao:#1C764B;
    --cor-botao:#29895B;
    --cor-botao:#399E6E;
    --cor-botao:#4DB081;
    --cor-principal:#0F5835;
    --cor-borda:#02010E;
    --cor-

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'Chakra Petch',sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(#75F8D8);
}
.botao{
    font-family: 'Chakra Petch,sans-serif';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
}

