
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
:root{
    --cor-de-fundo: #BC95FD;
    --cor-de-texto:#6A0707;
    --cor-botao:#D1FFF4;
    --cor-quadrado:#29895B;
    --botao-inativo:#399E6E;
    --branco:#FFFFFF;
    --botao-ativo:#94FF0D;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'Chakra Petch',sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(#75F8D8);
}
.botao{
    font-family: 'Chakra Petch,sans-serif';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font: size 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px s0lid var(--botao ativo);
    border-left: 2px soli var(--botao ativo);
    border-right: 2px solid var(--botao ativo);
    border-top:none
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display:block;
}
@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 40px 0 0;
    }
    .border:last-child{
        border-radius: 0 40px 0 0;
    }
}
